.container{
  // background-color: #ddd;
  margin-top: 0px;
  height: 500px;
  width: 100%;
  .table{
    margin-top: 10px;
  }
  .btn{
    margin-top: 0;
  }
}

.modal{
  .title{
    margin-left: 10px;
    font-size: 20px;

  }
  .form{
    margin-top: 15px;
  }
}

