.container{
  margin-top: 0px;
  height: 500px;
  width: 100%;
  .bar{
    display: flex;
    .btn{
      margin-top: 0;
    }
    .select{
      margin-left: 20px;
    }
    .completeBtn{
      margin-left: auto;
    }
  }
  .table{
    margin-top: 10px;
    .del{
      color: rgb(226, 73, 73);
    }
  }
}

.modalAdd{
  .title{
    margin-left: 10px;
    font-size: 20px;

  }
  .form{
    margin-top: 15px;
  }
}

