
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  position: relative;
  .team{
    background: rgba(255, 255, 255, 0.3);
    // position: absolute;
    // left: 50px;
  }
  .menu{
    display: flex;
    justify-content: space-around;
    
    li{
      margin: 0 30px;
    }
  }
  .avatarDropdown{
    cursor: pointer;
    margin-top: 10px;
    // position: absolute;
    // right: 50px;
  }
  .responseAvatar{
    cursor: pointer;
    margin-top: 10px;
    position: absolute;
    margin-top: -10000px;
  }
}

@media only screen and (max-width:650px) {
  .header{
    .menu{
      position: absolute;
      margin-top: -10000px;
    }
    .avatarDropdown{
      position: absolute;
      margin-top: -10000px;
    }
    .responseAvatar{
      margin-top: 0;
      margin-left: auto;
      position: static;
    }
  }
}