
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  position: relative;
  .team{
    background: rgba(255, 255, 255, 0.3);
    // position: absolute;
    // left: 50px;
  }
  .menu{
    display: flex;
    justify-content: space-around;
    
    li{
      margin: 0 30px;
    }
  }
  .avatar{
    // position: absolute;
    // right: 50px;
  }
}