.header{
  display: flex;
  justify-content: space-between;
  
  .left{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
    width: 100%;
    .teamName{
      font-size: 20px;
    }
    .notice{
      &:hover{
        border: 1px dashed rgb(194, 194, 194);
        border-radius: 2px;
      }
      margin: 10px 1px 1px 1px;
      color: grey;
      box-sizing:border-box;
      height: 64px;
      width: 100%;
      cursor: pointer;
      line-height: 32px;
      text-indent: 1em;
    }
    .input{
      margin-top: 11px;
      height: 64px;
    }
    .menu{
      margin-top: 10px;
      .menuItem{
        margin-right: 20px;
      }
      .menuDel{
        cursor: pointer;
        color: rgb(226, 73, 73);
      }
    }
  }
  .right{
    display: flex;

  }
}
.content{
  display: flex;
  justify-content: center;
  margin:10px 40px;
}